/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,700;1,400&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Poppins:wght@400;700&display=swap');

/* Reset basic style */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    list-style: none;
    color: inherit;
}


/* control variables */
:root {
    /* Color */
    --color-base: #37517E;
    --color-base-text: #f6f6f6;
    --shadow: #0e0e0e;


    --main-content: 1200px;

    --ff-title: 'Montserrat', sans-serif;
    --ff-links: 'Poppins', sans-serif;
    --ff-code: 'JetBrains Mono', sans-serif;
}

/* Scrollbar */
::-webkit-scrollbar {
    background-color: transparent;
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-accent);
    border: 1px solid var(--shadow);
    border-radius: 15px;
}

/* Start base style */


a {
    font-family: var(--ff-links);
}

html {
    background: var(--color-base);
    color: var(--color-base-text);
    font-family: var(--ff-links);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--ff-title);
}

pre {
    max-width: 100%;
    overflow-x: auto;
    font-size: var(--ff-code);
}

p {
    font-size: 14px;
}

/* Menu */
.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    min-width: 100vw;
    background-color: var(--color-base);
}

.menu {
    max-width: var(--main-content);
    margin: 0 auto;
    padding: 2.5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 50px;
    background-color: var(--color-base);
}

.menu-logo-container {
    display: flex;
    gap: 15px;
    align-items: center;
    padding: 5px;
}

.menu-logo-img {
    height: 50px;
}

.menu .logo {
    font-size: 24px;
}

.menu .logo span {
    color: var(--color-accent);
}

.menu nav ul {
    display: flex;
    gap: 15px;
    align-items: center;
    font-weight: bold;
    text-transform: capitalize;
    font-family: var(--ff-links);
}

.menu nav ul li:hover {
    color: var(--color-accent-2);
    transition: all 0.3s ease-in-out;
}

.menu-shadow {
    box-shadow: 0 0.3rem 0.5rem var(--shadow);
}

.hamburger {
    z-index: 6;
    display: none;
    border: none;
    background: none;
    cursor: pointer;
    position: fixed;
    top: 15px;
    right: 15px;
    font-size: 30px;
    padding: 5px;
}

.fa-solid.fa-xmark {
    display: none;
}

.hamburger.active .fa-solid.fa-xmark {
    display: block;
}
.hamburger.active .fa-solid.fa-bars {
    display: none;
}


@media (max-width: 750px) {
    .hamburger {
        display: block;
    }

    .menu {
        display: none;
    }

    .menu.active {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
        min-width: 100vw;
    }

    .menu.active nav .menu-links {
        flex-direction: column;
        gap: 25px;
    }

}


.full-page {
    min-height: 100vh;
}

.main-content {
    max-width: var(--main-content);
    margin: 0 auto;
    padding: 2.5px;
}

.centralized-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.text-center {
    text-align: center !important;
}